* {
    transition: all 0.2s;
}

#logo-text {
    font-family: 'Pacifico', cursive;
    color: #9e2325;
    letter-spacing: 2px;
    font-size: 25px;
    /* background: -webkit-linear-gradient(#eee, #9e2325);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}

#logo-text:hover {
    text-shadow: 0.5px 0.5px whitesmoke;
}

.navbar {
    background-color: rgb(10, 10, 14) !important;
    /* background: linear-gradient(#e66465, #9198e5) !important; */
}

.nav-link {
    color: whitesmoke !important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-link:hover {
    color: #338515 !important;
}

.dropdown-item {
    color: black !important;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #338515;
}

.active {
    color: goldenrod !important;
}

.button-green {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #338515 !important;
    color: #338515 !important;
    border-radius: 25px;
    padding: 5px 35px !important;
}

.button-green:hover {
    border-color: whitesmoke !important;
    color: whitesmoke !important;
    background-color: #338515;
}



.button-filled-green {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid whitesmoke !important;
    
    border-radius: 25px;
    padding: 5px 35px !important;

    color: whitesmoke !important;
    background-color: #338515;
}

.button-filled-green:hover {
    border-color: #338515 !important;
    background-color: whitesmoke;
    color: #338515 !important;
}


.carousel-image
{
    height: 400px;
}

@media screen and (max-width: 657px)
{
    .carousel-image
    {
        height: 250px;
    }
}

.main-heading
{
    color: #9e2325;
    font-weight: bolder;
    text-transform:capitalize;
    letter-spacing: 2px;
}

h1,h2, h3
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cat-card
{
    width: 300px;
}

.card-heading
{
    color: #9e2325;
}

.cat-card img
{
    border: 5px solid #9e2325;
}

.cat-card img:hover
{
    border-color: #338515;
}